body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

ul {

    padding: 0px !important;
}


/* ================================ */
        /* Header-1 */
/* ================================ */

.header-1{
    height: 64px;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.menu-principal{
 width: 200%;
 background-color: #010846;
 height: 64px;
}

.menu-principal{
 width: 100%;
 background-color: #010846; 
 height: 64px;


}
 
main {
    position: relative;
    float: left;
    width: 980px;
    margin: 0 auto
}


/* 
/* ============================================= */
                /* Header-2 */
/* ============================================= */ 
.menu {
    height: 37px;
    width: 479px;
    left: 196px;
    top: 82px;
    border-radius: nullpx;

}

#menu-ul {
    height: 37px;
    width: 479px;
    left: 196px;
    top: 82px;
    border-radius: nullpx;


}

#menu-ul li {
   margin: 5px;
}

#menu-ul li {

    display: inline-block;
    margin-left: 20px;
}

#menu-ul li a:hover {
   height: 37px;
    width: 479px;
    left: 196px;
    top: 82px;
    border-radius: nullpx;


}



#menu-ul li a {
    height: 37px;
    width: 479px;
    left: 196px;
    top: 82px;
    border-radius: nullpx;

}




#menu-ul li a {
    height: 37px;
    width: 479px;
    left: 196px;
    top: 82px;
    border-radius: nullpx;
    stroke: #2ace31;
 
}



/* ============================================= */
                /*  Redes sociais */
/* ============================================= */ 

.redes-sociais ul li {
    display: inline-block;
    float: left; 
    margin-left: 10px;

}

.redes-sociais {
   float: right;
   width: 103%;
}

.header-2 {
     width: 100%;
     border-bottom: 3px solid;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 1106px;
    width: 1990px;
    border-radius: 0px;
    overflow: hidden;
    position: absolute;
    top: 15%;

}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 10%;
    top: 5%;
    display: flex;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 50%;
    position: relative;
}

.slide img{
    width: 1920px;
}

.manual-navigation{
    position:absolute;
    width: 1380;
    margin-top: -40px ;
    display: flex;
    justify-content: center;
}

.manual.btn{
    border: 2px solid #0faf17;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;



}

.body {
    background-color: #010846;
}



.header-1{

    position: absolute;
width: 40px;
height: 48px;
left: 143px;
top: 122px;

}

.menu {

    height: 37px;
    width: 479px;
    left: 196px;
    top: 82px;
    border-radius: nullpx;

}